.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.workspaces {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  margin-top: 6rem;
}
.workspaces div {
  margin-left: 4rem;
  margin-right: 4rem;
}
.workspaces ul {
  list-style: none;
  margin-top: 1rem;
}
.done {
  text-decoration: line-through;
  font-size: 30px;
}